
.img-fondo{
    z-index: 1;
    width: 100%;
    position: relative;
    left: 25px;
}
.img-croquis{
    z-index: 2;
    width: 85%;
    position:relative;
    top: -485px;
    left: 60px;
}
.qr-svg img{
    width: 30%;
    position:relative;
    border-radius: 12px;
    left: 30%;
    bottom: 10px;
    right: 0;
}
.slider{
    width: 90%;
    right: 0;
}
.slider img{
     border-radius: 12px;
}


.footer{
    position: absolute;
}

.boton{
    color: rgb(242, 242, 245);
}
