*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url('../img/fondo1.png');
    background-repeat: no-repeat;
    width: 100%;
    bottom: 0;
}

.cuerpo-container{
    width: 100%;
    height: 99.3%;
    display: flex;    

}
/*estilos de los botones*/
.cuerpo-container .seccion-bottom{
    width: 20%;
    height: 99vh;
    display: flex;
   
}
.seccion-bottom button {
    width: 100%;
    height: 10%;
    border-radius: 20px;
    border-style: none;
    position: relative;
    top: -400px;
    left:0%;
    font-weight: bold;
    z-index: 5;

}
.seccion-bottom .linea{
    text-decoration: none;
}

.seccion-bottom button:hover{ 
background-color: rgb(227, 236, 236);
color: white;
}

.seccion-bottom .button2{
   position: relative;
   top: 55%;
   left:-30%;
    width: 100%;
    height: 10%;
    border-radius: 20px;
    border-style: none;
}
/*------------------fin de estilos botones-----------------------*/

/*estilos del cuadro de fondo del centro*/

.seccion-bottom-centro{
    width: 50%;
    height: 99vh;
    
}
.tituloh1{
font-size: 50px;
color: rgb(1, 161, 253);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
position: relative;
text-align: center;
top: 3%;
background-color: aliceblue;
    
}
.fondoimg{
    width: 100%;
    height: 80vh;
    position: relative;
    top: 8%;
}
.tituloh2{
    font-size: 20px;
    color: white;
    position: relative;
    text-align: justify;
    left: -20px;
}
.seccion-bottom-centro .letra-maps{
    width: 30%;
    height: 12vh;
    position: relative;
    top: 1%;
    left: 35%;
}
/*------------------fin de estilos del  centro-----------------------*/

/*seccion para describir la carrera*/
.cuerpo-container .seccion-bottom-descripcion{ 
    width: 30%;
    height: 99vh;
}
.seccion-bottom-descripcion p{
    font-size: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 30%;
}

/*---------------------------------------------*/