body{
  padding: 0;
  margin: 0;
  box-sizing:border-box ;
  background-image: url('img-menu/fondo-menu.jpg');
  font-family: Arial, Helvetica, sans-serif;
}
/*contenedor de las lista de carreras*/
.container-carreras{
  width: 320px; 
  height: 570px; 
  left: 900px; 
  top: 110px; 
  position: absolute; 
  opacity: 0.70; 
  background: white; 
  border-radius: 10px; 
  border-left: 2.50px #0339F9 solid; 
  border-top: 2.50px #0339F9 solid; 
  border-right: 2.50px #0339F9 solid;
  border-bottom: 2.50px #0339F9 solid
}
/*contenedor de los logos de las carreras de la lista*/
.container-logo-carreras{
  width: 30.21px; 
  height: 503px; 
  left: 920px; 
  top: 125px; 
  position: absolute; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 13px; 
  display: inline-flex
}
/*tamaños de los logos de la lista de carreras*/
.logo-carreras-lista{
  width: 30px; 
  height: 30px
}
/*contenedor del titulo carreras*/
.container-titulo-carreras{
  width: 200px; 
  height: 44px; 
  left: 970px; 
  top: 50px; 
  position: absolute; 
  opacity: 0.70; 
  background: white; 
  border-radius: 10px; border-left: 2.50px #0339F9 solid; 
  border-top: 2.50px #0339F9 solid; 
  border-right: 2.50px #0339F9 solid; 
  border-bottom: 2.50px #0339F9 solid
}
/*pisicionamiento de la imagen de las indicaciones*/
.imagen-indicaciones{
  width: 362.57px; 
  height: 400px; 
  left: 7px; 
  top: 180px; 
  position: absolute
}
/*posicionamiento del logo de suiza-maps*/
.container-logo-maps{
  width: 200px; 
  height: 290px; 
  left: 445px; 
  top: 98px; 
  position: absolute
}
.btn-logo{
  position: relative;

}

.btn-logo::before,
.btn-logo::after{
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  top: -380px;
  left: 80px;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  animation: ondas 1.7s infinite;
}

.btn-logo:before{
  animation-delay: 1s;
}

.btn-logo:before{
  animation-delay: 1.3s;
}

@keyframes ondas {
  0% {
    transform: scale(1);
  }
  15% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: scale(2.5);
  }
}

.btn-logo img{
  position: relative;
  z-index: 2;
}
.logo-map-img{
  width: 350px;
}

/*contenedor de las carreras que forman un circulo*/
.circulo-carreras{
  width: 523.97px; 
  height: 542px; 
  left: 355px; 
  top: 89px; 
  position: absolute;
  z-index: 3;
}
/*posicionamiento del texto titulo*/
.titulo{
  width: 159px; 
  height: 21px; 
  left: 1000px; 
  top: 64px; 
  position: absolute; 
  text-align: center; 
  color: black; 
  font-size: 18px;  
  font-weight: 700; 
  word-wrap: break-word
}
/*psocionamiento de la lista de carreras*/
.text-1{
  width: 275px; 
  height: 27px; 
  left: 955px; 
  top: 130px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700;
   word-wrap: break-word
}
.text-2{
  width: 289px; 
  height: 30px; 
  left: 955px; 
  top: 170px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700; 
  word-wrap: break-word
}
.text-3{
  width: 289px; 
  height: 30px; 
  left: 955px; 
  top: 225px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700; 
  word-wrap: break-word
}
.text-4{
  width: 289px; 
  height: 30px; 
  left: 955px; 
  top: 272px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700; 
  word-wrap: break-word
}
.text-5{
  width: 289px; 
  height: 30px; 
  left: 955px; 
  top: 318px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700; 
  word-wrap: break-word
}
.text-6{
  width: 289px; 
  height: 30px; 
  left: 955px; 
  top: 360px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700; 
  word-wrap: break-word
}
.text-7{
  width: 289px; 
  height: 30px; 
  left: 955px; 
  top: 415px; 
  position: absolute; 
  color: black; 
  font-size: 16px;  
  font-weight: 700; 
  word-wrap: break-word
}
.text-8{
  width: 289px; 
  height: 30px; 
  left: 955px; 
  top: 464px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700; 
  word-wrap: break-word
}
.text-9{
  width: 289px; 
  height: 30px; 
  left: 955px; 
  top: 507px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700; 
  word-wrap: break-word
}
.text-10{
  width: 289px; 
  height: 31px; 
  left: 955px; 
  top: 555px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700; 
  word-wrap: break-word
}
.text-11{
  width: 289px; 
  height: 31px; 
  left: 955px; 
  top: 602px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700; 
  word-wrap: break-word
}
.text-12{
  width: 289px; 
  height: 31px; 
  left: 955px; 
  top: 648px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-weight: 700; 
  word-wrap: break-word
}

a{
  text-decoration: none;
}

